<header>
    <a href="/"><img src="/assets/images/david-lester.jpg"></a>
    <div class="column">
        <h1>David Lester's Files</h1>
        <nav>
            <a href="/">Home</a>
            <a href="/document-types/about">About</a>
            <a href="/document-types/biographical-studies">Biographical Studies</a>
            <a href="/document-types/crisis-intervention">Crisis Intervention</a>
            <a href="/document-types/essays-suicidology">Essays Suicidology</a>
            <a href="/document-types/john-connolly-interviews">John Connolly Interviews</a>
            <a href="/document-types/suicide-studies">Suicide Studies</a>
        </nav>
    </div>
</header>
